<!-- right content -->
<section class="content_right">
    <h1 class="admin-title">
        Espace d'administration des produits du site
    </h1>
    <table class="table" style="text-align: center;">
        <thead class="bg-info">
          <tr>
            <th scope="col">N°</th>
            <th scope="col">Nom de la catégorie</th>
            <th scope="col">Prix HT</th>
            <th scope="col">Prix TTC</th>
            <th scope="col">Quantité</th>
            <th scope="col">Voir</th>
            <th scope="col">Ajouter</th>
            <th scope="col">Modifier</th>
            <th scope="col">Supprimer</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Toto</td>
            <td>10€</td>
            <td>12€</td>
            <td>2</td>
            <td><a href="#" class="text-dark"><i class="far fa-eye" aria-hidden="true"></i></a></td>
            <td><a href="#" class="text-success"><i class="fa fa-plus-circle" aria-hidden="true"></i></a></td>
            <td><a href="#" class="text-warning"><i class="fas fa-edit"></i></a></td>
            <td><a href="#" class="text-danger"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Titi</td>
            <td>10€</td>
            <td>12€</td>
            <td>2</td>
            <td><a href="#" class="text-dark"><i class="far fa-eye" aria-hidden="true"></i></a></td>
            <td><a href="#" class="text-success"><i class="fa fa-plus-circle" aria-hidden="true"></i></a></td>
            <td><a href="#" class="text-warning"><i class="fas fa-edit"></i></a></td>
            <td><a href="#" class="text-danger"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Tata</td>
            <td>10€</td>
            <td>12€</td>
            <td>2</td>
            <td><a href="#" class="text-dark"><i class="far fa-eye" aria-hidden="true"></i></a></td>
            <td><a href="#" class="text-success"><i class="fa fa-plus-circle" aria-hidden="true"></i></a></td>
            <td><a href="#" class="text-warning"><i class="fas fa-edit"></i></a></td>
            <td><a href="#" class="text-danger"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
          </tr>
        </tbody>
      </table>

</section>
<!-- end of right content zone -->



</main>
<!-- end of main's content zone -->