.termsofsales {
    width: 100vw;
    background-color: #364059;
    display: flex;
    justify-content: center;
}

.sale {
    width: 70%;
    color: whitesmoke;
    padding: 1rem;


}

h1 {
    font-size: 1.5rem;
    text-align: left;
}

ol {
    padding-top: .5rem;
}