.col-md-6 {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
    padding-left: 15rem;
    padding-top: 10rem;
}

.form {
    flex-direction: column;
    display: flex;
    height: 35%;
    justify-content: space-evenly;
    border-left: #42B1B2 1px solid;
}

.btn-submit {
    background-color: #42B1B2;
}