.col-md-6 {
    background-color: #364059;
    color: white;
    padding-right: 5rem;

}

.border {
    border: 1px solid #42B1B2;
    padding: 0.5rem;
    border-radius: 6px 6px 0 0;
}

p {
    font-size: 1.2rem;
}

.mx-1 {
    color: #42B1B2;
    padding-top: 1rem;
    text-align: center;
}