.HomePage_header {
  width: 100%;
  max-height: 16%;
  padding: 1rem;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  -webkit-box-shadow: 0px 0px 33px 0px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 0px 33px 0px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 0px 33px 0px rgba(0, 0, 0, 0.38);
}
.fa-user {
  border-color: grey;
}
.HomePage_menu-top_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.HomePage_menu-top_list li i {
  width: 45px;
  height: 45px;
  border: 1px solid #37425b;
  border-radius: 50%;
  padding: 0.5rem;
  text-align: center;
  color: #37425b;
  font-size: 1.8rem;
}
.form-control.mr-sm-2 {
  width: 60rem;
  border-radius: 30px;
}

.btn.btn-outline-success.my-2.my-sm-0 {
  background-color: #41afb2 !important;
  border-color: #41afb2 !important;
  color: #fff !important;
  border-radius: 38px;
  padding: 4px 17px;
  position: absolute;
  right: 5px;
  bottom: 0.25rem;
  border-color: #d3d3d3;
  &:hover {
    background-color: #338f92fa;
    transition-duration: 0.8s;
  }
}
.bi {
  font-size: 2.2rem !important;
  margin-right: 1rem;
  color: #41afb2;
}
.position {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 1rem;
  border-color: #41afb2;
}
.login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.far {
  border-color: #4eb6b9 !important ;
  background-color: #4eb6b9;
  &:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  }
}
.navbar {
  padding: 0 !important;
  margin: 1rem !important;
}
.search_bar .search {
  color: #fff !important;
}
