.modal {
  position: initial;
  z-index: 1050;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

.card-price{
  font-size: 2rem;
  color: #DB3855;
}

.card-body{
    min-height: 1px;
    padding: 1rem 1rem 0 1rem;
}

.card-product-info{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}
@media (min-width: 759px) {
  .product-card{
    width: 15%;
    margin-left: 1rem;
    background-color: #FAFAFA;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 500px) {
  .product-card{
    width: 100%;
    background-color: #FAFAFA;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-bottom: 1rem;
    margin-bottom:1rem;
  }
}

.product-card:hover{
  -webkit-box-shadow: 8px 7px 13px 2px rgba(0,0,0,0.39); 
  box-shadow: 8px 7px 13px 2px rgba(0,0,0,0.39);
  background-color: rgba(0,0,0,0.05);
}

.jello-horizontal{
	-webkit-animation: jello-horizontal 0.9s both;
	        animation: jello-horizontal 0.9s both;
}

.product-card:first-child{
  margin-left: 0!important;
}

.btn-blue{
  width: 60%;
  text-align: center;
}