
@media (min-width: 1280px){
.hp-content{
  margin: 0 auto;
  width: 1700px;
  padding: 1rem;
}
}


.categories {
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.products {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
