.HomePage {

    width: 84.5%;
    height: 100%;
    background-color: #F2F4EC;
    //background-color: #41AFB2;
    position: absolute;
    right: 0;
    z-index: 1;
    top: 24%;
    overflow-x: hidden;
    overflow-y: auto;
}
.carrousels {
    width: 100%!important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 9px;
}
.first-slide img {
    width: 100%;
}
