.form-inline {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}
.form-control {
  display: block;
  /* width: 100%; */
  /* margin-right: 100px; */
  height: calc(1.5em + 0.75rem + 2px);
  padding: 1.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}
@media (max-width: 400px) {
  .form-control {
    padding: 1.375rem 10rem;
  }
}
.btn-outline-success {
  color: #28a745;

  position: absolute;
  right: 0.9rem;
}
@media (max-width: 400px) {
  .btn-outline-success {
    right: 14px;
  }
}
.container {
  width: 100%;
  height: 90%;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}
@media (min-width: 1200px) {
  .container {
    max-width: 100vw !important;
  }
}

@media (max-width: 400px) {
  .top {
    display: flex;
    flex-direction: column !important;
  }
}
.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  width: 129%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
  margin-top: 10rem !important;
  margin-left: -6rem !important;
}
.form-header {
  padding: 0.9rem;
  min-width: 58rem;
  margin-left: -14rem;
}


@media (min-width: 1200px) {
  .ant-input-group {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
    color: rgba(16, 15, 15, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
    position: relative;
    display: table;
    width: 100%!important;
    border-collapse: separate;
    border-spacing: 0;
    // margin-left: -28rem;
    margin-top: 0rem;
  }
}
@media (min-width: 1024px) {
  .ant-input-group {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
    color: rgba(16, 15, 15, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
    position: relative;
    display: table;
    width: 50%;
    border-collapse: separate;
    border-spacing: 0;
    // margin-left: -28rem;
    margin-top: 0rem;
  }
}
@media (max-width: 400px) {
  .ant-input-group {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
    color: rgba(16, 15, 15, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
    position: relative;
    display: table;
    width: 90%;
    border-collapse: separate;
    border-spacing: 0;
    // margin-left: -28rem;
    margin-top: 1rem;
  }
}

@media (min-width: 1024px) {
  .ant-input-group-wrapper{
    display: flex;
      justify-content: center;
      width: 50%;
  }
}

@media (max-width: 760px) {
  .ant-input-group-wrapper{
    display: flex;
      justify-content: center;
      width: 100%;
  }
}
.ant-input{
  border-radius: 4px 0 0 4px;
}

.ant-input-search>.ant-input-group>.ant-input-group-addon .ant-input-search-button:not(.ant-btn-primary) {
  color: white;
  background-color:  #41B1B2;
  border-radius: 0 4px 4px 0;
}
.ant-btn:focus, .ant-btn:hover {
  color: #fff;
  background-color: #DB3855!important;
  border-color: none;
}

.ant-icon-search-button:hover{
  background-color: #DB3855!important;
}

@media (min-width: 1024px) {
  .header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #31435b;
    align-items: center;
    padding: 1rem 1rem 0.2rem 1rem;
    flex-direction: row;
    flex-wrap: wrap;
  }
}


@media (max-width: 760px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    background-color: #31435b;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem 0 0;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* text-align: center;*/
  }
}


.icon-button{
  font-size: 1rem;
}

.link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.icon-button {
  
   margin-left: 0!important;
 
  
}
.auth {
  display: flex;
  margin: 0rem 2rem;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  /* text-align: center; */
  width: 25%;
  font-size: 1.5rem;
  font-weight: bold;
}

@media (max-width: 759px) {
  .auth {
    display: flex;
    margin: 0rem 0.2rem;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /* text-align: center; */
    width: 35%;
    font-size: 1rem;
    font-weight: bold;
  }
}
@media (max-width:759px){
  .link p{
    display: none;
  }
}

@media (max-width:759px){
  .heart {
    display: flex;
    flex-direction: row;
    margin: 0!important;
    color: #fff;
    width: 44%;
    font-size: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: bold;
  }
}

.heart {
  display: flex;
  flex-direction: row;
  margin: auto 2rem;
  color: #fff;
  width: 44%;
  font-size: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: bold;
}

.icon {
  font-size: 1rem;
  color: white;
  margin-bottom: 0.5rem!important;
}

a:hover {
  opacity: 0.5;
  color: #43a0af;
  transition-duration: 0.5s;

  text-decoration: none;
}
a {
  text-decoration: none;
  position: relative;
}

a:after {
  // border-radius: 1em;
  // border-top: 0.1em solid lightblue;
  content: '';
  position: absolute;
  right: 100%;
  bottom: 0.14em;
  left: 0;
  transition: right 0.4s cubic-bezier(0, 0.5, 0, 1);
}

.anticon-search{
  font-size: 1.5rem;
  color: white;
}

.anticon-search:hover{
  color: white;
}

.anticon-user, .anticon-shopping-cart {
  color: white;
  display: inline-block;
  font-size: 2rem;
  
}
@media (min-width: 1200px) {
  .link{
    width: 20%;
    display: flex;
    justify-content: flex-end;
  }
}
@media (min-width: 1024px) {
  .link{
    width: 20%;
    display: flex;
    justify-content: flex-end;
  }
}

@media (min-width: 401px) {
  .link{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-content: center;
  }
}

@media (max-width: 400px) {
  
  .link{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-content: center;
  }
}

@media (max-width: 759px) {
  .icon-button {
    margin-top: 0rem!important;
    margin-left: -.7rem;
  }
}

.cart {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  // margin: 1rem 2rem;
  font-size: 1rem;
}

.anticon-user:hover, .cart:hover, .anticon-shopping-cart:hover {
  color: #41B1B2;
}

.auth-deco {
  margin: 1rem;
}

.login-icon, .cart{
  text-align: center;
  color: white;
  font-weight: bold;
  padding-left: 1rem;
}

.marine-light{
  background-color:#334859;
}

@media (min-width: 1200px) {
  .logo{
    // padding: 1rem 0 0 1rem;
    width: 80%!important;
  }
}
@media (min-width: 1024px) {
  .logo{
    // padding: 1rem 0 0 1rem;
    width: 60%;
  }
}

@media (max-width: 400px) {
  .logo{
    // padding: 1rem 0 0 1rem;
    width: 50%;
    
  }
}

@media (max-width: 400px) {
  .link-logo{
   display: flex;
   justify-content: center;
    
  }
}