.bottom-footer {
  display: flex;
  justify-content: center !important;
  font-style: italic;
}

@media (max-width: 375px) {
  .bottom-footer {
    display: block;
    align-content: center;
    width: 100%;
    margin-left: 2rem;
  }
}
