.modal-header {
  border-bottom: 0;
}
.static-header {
  border: none;
  width: 37%;
  border-radius: 72px;
  /* margin-left: -1px; */
  background-color: white;
  cursor: pointer;
  &:hover {
    transition: 2s;
    opacity: 0.6;
  }
}
.modal-login {
  z-index: 4;
  right: 72px;
  top: 58px;
}
.btn__position {
  background: none;
  border: none;
  position: absolute;
  left: 111rem;
  border-radius: 50%;
  &:hover {
    background-color: white;
    animation: none;
  }
}
